*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Merriweather", serif;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #8b5e34;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}
/* nvbr */
#nvbr{
    background-color: #8b5e34;
}
#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: whitesmoke;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.5s;
    font-size: 20px;
}
.nav-item .nav-link:hover{
    background:#d3770f;
    color: aqua;
    border-radius: 5px;

}
#navbar form button{
    background: rgb(132, 132, 223);
    color: rgb(116, 86, 30);
}
#nvbr form button{
    background: black;
    color: azure;
    border: 1px solid whitesmoke;
}

/* home */

#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0.3)),url(image/3cup.png);
    background-repeat: no-repeat;
    background-position: 88%;
}
/* for heading and paragraph */
#home .content{
    padding-top: 210px;
    margin-left: 56px;

}
#home .content h2{
    font-size: 50px;
    color: black;
}
#home .content p{
    font-size: 15px;
    color: black;
}
#btn{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
    background: #f5d7bd;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #8b5e34;
    color: #f5d7bd;
}


/* about section strt */
#about{
    width: 100%;
    height: 100vh;

}
#about .container{
    padding-top: 50px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(5, 5, 0);
    font-size: 50px;
    font-weight: bold;
}
.heading span{
    color: #8b5e34;
}
#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
}
#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #d3770f;
    color: #d3770f;
    border-radius: 2px;
    transition: 0.5s;
    cursor: pointer;
}
#about-btn:hover{
    background-color: #d3770f;
    color: beige;
}
@media screen and (max-width: 982px)
   {
    #about p{
        font-size: 8px;
    }
   } 
   @media screen and (max-width: 766px)
   {
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
        margin-bottom: 20px;
    }
   } 

.parsec1{
    font-weight: bold;
    font-size: 20px;
}

.card2{

    width: 100%;
    height: 60vh;
    background: #8b5e34;
}
#top-card{
    width: 100%;
    height: 60vh;
    background: #432818;
    
}
.heading2{
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.heading2 span{
    color: #8b5e34;

}
#menu{
    width: 100%;

    margin-top: 250px;
}

    

 #menu .heading3{
    margin-top: 100px;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
      background-color:#432818;
    border-bottom: 20px solid black;
}
 #menu .heading3 span{
    color: #8b5e34;

}
#testimonials
{
    padding: 50px;
    padding-bottom: 50px;
}

#testimonials
.row{
    margin-top: 80px;

}
.col-md-4{
    margin: 20px auto;
}
.profile{
    padding: 100px 10px 10px;
    background: #130702;
    color: white;
    font-weight: bold;


}
.user{
    width: 80;
    height: 80;
    border-radius: 50%;

}
.profile img{
    width: 200px;
    height: 200px;
    top:-150px;
    position: relative;
    left:calc(50%-60%) ;
}
.profile h3{
    font-size: 30px;
    margin-top: 15px;
    color: #0a74bb;

}
#testimonials span{
    font-size: 12px;
    color: #d3770f;

}
blockquote{
    font-size: 16px;
    line-height: 30px;
    bottom: -10px;
}
#contact{
    margin-top: 200px;
}
#contact{
    background:#432818 ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

}
#offer{
    margin-top: 150px;
    background-size: cover;
    min-height: 100vh;
    padding: 40px;
    width: 100%;
}
.offer-images{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.offer-images div{
    width: min-content;
}
.gallery-images img{
    margin-top: 1rem;
    border:5px solid #432818;
}
/* #see more{

} */
 /* lable in login */
 .l1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
 }